{%  block footer %}
    <footer class="text-center fixed-bottom text-lg-start">

        <div class="text-center footer-back "> Copyright &copy; {{ "now"|date('Y') }}>
            <a class="text-dark" href="{{ path("home") }}">Où Rouler</a>
            <p> mentions légales | CGU | contact </p>
        </div>

    </footer>
{% endblock %}