{% block header %}

    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle m-lg-3" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> Menu </button>
        <div class="dropdown-menu" aria-labelledby="dropdownmenu">
            <h6 class="dropdown-header">Où Rouler</h6>
            <div class="dropdown-divider">
            </div>
            <a class="dropdown-item" href="{{ path("home") }}">Accueil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">BMC</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">ActivBike</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Box23</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path("user_new") }}">Inscripion organisateurs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path("user_index") }}">Administrateur</a>
        </div>
    </div>
{% endblock %}