{% block header %}
    <div class="dropdown">
        <button class="btn btn-info dropdown-toggle m-lg-3" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> Menu </button>
        <div class="dropdown-menu" aria-labelledby="dropdownmenu">
            <h6 class="dropdown-header">Dropdown Header</h6>
            <div class="dropdown-divider">
            </div>
            <a class="dropdown-item" href="#">Dropdown One</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Dropdown Two</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Dropdown Three</a>
        </div>
    </div>
{% endblock %}